* {
    font-family: "Consolas", monospace;
}

:root {
    --blue: rgb(64, 180, 184);
    --white: rgb(248, 230, 207);
}

nav {
    display: flex;
    gap: 0.5rem;
}

a {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.5s ease-out;
}

a:hover {
    background-color: darkcyan;
    color: black;
}

h1 {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
  
    to {
        margin-left: 0%;
        width: 100%;
    }
}

#profilePic {
    width: 20vh;
}

#profilePic:hover {
    transform: scale(1.5);
}